

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(./assets/images/index-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}


.RegisterContent {
  background-color: #29abe2;
}
